/* ****************************
/* *       General            *
/* ***************************/

*{
  margin: 0;
}

a{
  text-decoration: none;
}

html, body{
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-color: #e6e6e6;
}

h1{
  padding: 0 0 2.5% 5%;
  position: absolute;
  top: 150px;
}

.mainStuff{
  max-width: 50%;
  text-align: left;
}

body p{
  margin: 0 5% 0 5%;
  padding-bottom: 1em;
}

header{
  background: black; /*  background: #4473ab; */
  color: white;
  border-bottom: solid 10px;
  border-color: #414141; /* border-color: darkgrey; */
  width: 100%;
  margin-bottom: 2.5%;
}

/* ****************************
/* *   Header Image Control   *
/* ***************************/

.headerImg{
  max-width: 100%;
  height: 100px;
  overflow: hidden;
  padding-bottom: 100px;
}

.headerImg img{
  opacity: 0.4;
/*   width: 100%; */
  margin-top: -380px;
}
/* ****************************
/* *   Background Image       *
/* ***************************/

.BackgroundImage{
  
}

/* ****************************
/* *   Index Image Control    *
/* ***************************/

/* THIS NEEDS TO BE RESPONSIVE - MOVE THE IMAGE BELOW THE INTRO, BUT BEFORE THE LIST */

.homePage-rightImg img{
  clear: both;
  float: right;
  max-width: 50%;
  margin: -0 15px 15px 15px;
/*   height: 100px; */
}

/* ****************************
/* *       Links              *
/* ***************************/

a.logo{
  color: white;
}

a.listsLink{
  color: #4473ab;
}

.listsLink:hover{
  color: white;
}

.listsLink:visited{
  color: darkgrey; 
}

.listsLink:active{
  color: #b3b3e6;
}

a.footerLinks{
  color: white;
}

a.footerLinks:hover{
  color: darkgrey;
}

/* ****************************
/* *       Lists              *
/* ***************************/

.listHeading{
  margin-top: 0.8em;
}

.lists{
  margin: 0.5em 0 1% 5%;
  list-style: none;
  font-style: italic;
}

/* ****************************
/* *       Footer             *
/* ***************************/

a.footerLinks.navSelected{
  color: #80bfff;
}

.footerLinks{
  font-size: 0.8em; /* 12.8px font */
  text-align: left;
}

.firstListElement{
  padding-left: 0;
}

footer{
  border-top: solid 10px;
  border-color: #414141;
  background-color: #414141;
  margin-top: 50px;
  float: left;
  max-width: 100%;
}

footer ul{
  margin: 0 0 0 0;
  padding: 0;
}

footer li{
    display: inline-block;

}

footer a{
  padding: 15px 10px;
}
  
nav{
  max-width: 50%;
  position: absolute;
  bottom: -50px;
  left: 5%;
}

footer p{
  font-size: 0.8em;
  color: darkgrey;
  text-align: left;
  position: absolute;
  bottom: -100px;
}

/* ****************************
/* *   Sticky Footer Control  *
/* ***************************/

.site{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content{
  flex: 1;
}

/* ****************************
/* *   Footer Image Control   *
/* ***************************/

.footerImg{
  max-width: 100%;
  height: 60px;
  overflow: hidden;
  padding-bottom: 100px;
}

.footerImg img{
  opacity: 0.4;
/*   width: 100%; */
  margin-top: -1228px;
}

/* ****************************
/* *       Testing CSS        *
/* ***************************/
